/* ============================================ *
 * Typography
 * ============================================ */

// Bourbon Font Stacks
// font-family: $georgia;
// font-family: $helvetica;
// font-family: $lucida-grande;
// font-family: $monospace;
// font-family: $verdana;

// Variables
$f-size: 16px;
$f-lh: 1;

h1,h2,a,p {
  @include antialias;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
}